@{
    ViewBag.Title = "About";
}
<h2>Index</h2>
<h2>Message from Home -> About </h2>
@ViewBag.CurrentDataTimeMessage

@Html.Action("SempreAtualiza", "Pessoa", new { name = "test" }, true)

<p>Use this area to provide additional information.</p>

